* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./modules/variables";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $colorsecundario;
}

.titulo {
  background: linear-gradient(#f1a64f, #ffd1dc);
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.9);
  margin: left 10px;
  
  
}

p{background: linear-gradient(to bottom, #ffbb00, #ff9100a8, #e0bf04);
padding: 10px;
border-radius: 10px;

}

.contenedorproductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 100%;
  padding: 4rem;
  gap: 1rem; /* Agrega un espacio de 1rem entre las imágenes */

  section {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    cursor: pointer;
    overflow: hidden;

    figure {
      position: relative;
      transition: all 0.4s;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.9);
      }

      &:hover {
        transform: scale(1.1);
      }

      
      &:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $colorsombra;
        opacity: 0.5;

        
      }
    }
  }
}

h2 {
  background-color: #f1a64f;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}