* {
	margin: 0;
	padding: 0;
  } 

  .texto{
  margin: 0%;
  margin-top: 600px;
  font-size: 30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.);
  z-index: 1;
  font-family: Arial, sans-serif;
  margin-bottom: 450px;
  padding: 60px;
  font-weight: bold 900;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  background-color: rgba(143, 143, 143, 0.4);
  padding-top: 1px;

}

header {
	margin: 0px;
	height: 10px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	font-family: Arial, sans-serif;
	background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mujer-haciendo-ejercicio-gimnasio-2458823.jpg");
	position: absolute;
		top: 0;
		left: 0;
}

/*adaptamos el carrusel al tamaño que quiero en la pantalla */

.carrusel{display: block; margin: 0 auto;
	max-width: 400px;
	max-height: 700px;
}

.carousel-item {width: 100%;
	height: 700px;
	
}

.carousel-item {
	position: relative;
	padding-bottom: 80.25%; 
  }
  
  .carousel-item img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }

.texto-alumnos{
	background-color: rgba(107, 96, 96, 0.5);
	margin: 0%;
	height: 15vh;
	display: inline-block;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	

	border: 4px solid rgb(0, 0, 0);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.carousel-item{ 
	max-width: 100%;
  height: auto;

}

.title {
	margin: 0;
	margin-top: 16px;
	font-size: 36px;
	text-align: center;
	background-color:aqua;
}

.conteiner {
	width: 100vw;
	height: 500px;
	/*con los backgroud de abajo podes poder imagenes de fondo con direccion url //dato a tenes en cuenta las imagenes deben termibar en(gif,jpen,jpg,png)*/
	background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mujer-haciendo-ejercicio-gimnasio-2458823.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	margin-top: 45px;
  }

/* imagen debajo de encabezado */
.imagen-de-encabezado {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
  }
  
  .imagen-de-fondo img {
	width: 100%;
	height: auto;
	opacity: 0.8;
  }
  
nav {
	background-color: #666;
	color: #fff;
	padding: 0px;
	text-align: center;
	height: 50px;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	margin-top: 0%;
	margin-bottom: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	font-size: 24px;
	margin-top: 0%;
}

ul {
	list-style: none;
	margin-top: -22px;
  }

section {
	padding: 20px;
	margin: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888;
}

section h2 {
	margin: 0 0 10px 0;
	font-size: 24px;
}

section p {
	margin: 0;
	font-size: 36px;
	line-height: 1.5;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;

}
.cuerpo{
    background-color: rgb(212, 9, 9);
    font-size: 18px;
  }

ul {display: flex;
	flex-direction: row;
	position: absolute;
	top:0;
	right: 0;
	padding: 15px

}

/* imagen pagina productos*/

.contenedorproductos{grid-template-columns: repeat(no-repeat);
	max-width: 10px;
	max-height: 10px;
}

.fondo {
	background-color: #970707;
  }



.cuadrado {
 width: 800px;
height: 800px;
background-color: rgba(255, 0, 0, 0.575);

						  }
h4{background-color:rgb(111, 253, 111);
	margin-top: 30px;
	font-size: 30px;

}

* {
	margin: 0;
	padding: 0;
  } 

  h3{background-color: aqua;
	width: 500%;
    margin: 0%;
    margin-top: 5px;
    font-size: 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.);
    z-index: 1;
    font-family: Arial, sans-serif;
    margin-bottom: 450px;
    padding: 60px;
    font-weight: bold 900;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    padding-top: 50px;
  }

  .my-button {
	background-color: #4CAF50;
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

 
  .texto{
  margin: 0%;
  margin-top: 600px;
  font-size: 30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.);
  z-index: 1;
  font-family: Arial, sans-serif;
  margin-bottom: 450px;
  padding: 60px;
  font-weight: bold 900;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  background-color: rgba(143, 143, 143, 0.4);
  padding-top: 1px;

}

.abajo{
	margin: 0%;
	margin-top: 800px;
	font-size: 30px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.);
	z-index: 1;
	font-family: Arial, sans-serif;
	margin-bottom: 450px;
	padding: 60px;
	font-weight: bold 900;
	text-shadow: 2px 2px 3px rgb(255, 255, 255);
	background-color: rgba(143, 143, 143, 0.4);
	padding-top: 1px;
  }


header {
	margin: 0px;
	height: 10px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mujer-haciendo-ejercicio-gimnasio-2458823.jpg");
	position: absolute;
		top: 0;
		left: 0;
}

 

.title {
	margin: 0;
	margin-top: 16px;
	font-size: 36px;
	text-align: center;
	background-color:aqua;
}

.conteiner {
	width: 100vw;
	height: 500px;
	/*con los backgroud de abajo podes poder imagenes de fondo con direccion url //dato a tenes en cuenta las imagenes deben termibar en(gif,jpen,jpg,png)*/
	background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mujer-haciendo-ejercicio-gimnasio-2458823.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	margin-top: 45px;
  }

/* imagen debajo de encabezado */
.imagen-de-encabezado {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
  }
  
  .imagen-de-fondo img {
	width: 100%;
	height: auto;
	opacity: 0.8;
  }
  
nav {
	background-color: #666;
	color: #fff;
	padding: 10px;
	text-align: center;
	height: 30px;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	margin-bottom: 20px;

}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	font-size: 24px;
}

ul {
	list-style: none;
  }

.contactos {
	padding: 20px;
	margin: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #888;
}

section h2 {
	margin: 0 0 10px 0;
	font-size: 24px;
}

section p {
	margin: 0;
	font-size: 36px;
	line-height: 1.5;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;

}
.cuerpo{
    background-color: rgb(212, 9, 9);
    font-size: 18px;
  }

ul {display: flex;
	flex-direction: row;
	position: absolute;
	top:0;
	right: 0;
	padding: 15px

}

.flex-contactos {
	display: flex;
	flex-direction: row-reverse;
	text-align: left;
	margin: 0px;
	text-align: left;
}

.telefono {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	height: 50px;
	border: none;
}

/*telefonod de contacto*/

.telefono img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	margin: 100px;
	border: none;
}

/*mail de contacto*/

.telefono img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	margin: 100px;
	border: none;
}

.flex-contactos{
	margin-top: 50px;}

* {
	margin: 0;
	padding: 0;
  } 

  h3{background-color: aqua;
	width: 500%;
    margin: 0%;
    margin-top: 5px;
    font-size: 30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.);
    z-index: 1;
    font-family: Arial, sans-serif;
    margin-bottom: 450px;
    padding: 60px;
    font-weight: bold 900;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    padding-top: 50px;
  }

  .my-button {
	background-color: #4CAF50;
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

 
  .texto{
  margin: 0%;
  margin-top: 600px;
  font-size: 30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.);
  z-index: 1;
  font-family: Arial, sans-serif;
  margin-bottom: 450px;
  padding: 60px;
  font-weight: bold 900;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  background-color: rgba(143, 143, 143, 0.4);
  padding-top: 1px;

}

.abajo{
	margin: 0%;
	margin-top: 800px;
	font-size: 30px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.);
	z-index: 1;
	font-family: Arial, sans-serif;
	margin-bottom: 450px;
	padding: 60px;
	font-weight: bold 900;
	text-shadow: 2px 2px 3px rgb(255, 255, 255);
	background-color: rgba(143, 143, 143, 0.4);
	padding-top: 1px;
  }


header {
	margin: 0px;
	height: 10px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mujer-haciendo-ejercicio-gimnasio-2458823.jpg");
	position: absolute;
		top: 0;
		left: 0;
}

 

.title {
	margin: 0;
	margin-top: 16px;
	font-size: 36px;
	text-align: center;
	background-color:aqua;
}

.conteiner {
	width: 100vw;
	height: 500px;
	/*con los backgroud de abajo podes poder imagenes de fondo con direccion url //dato a tenes en cuenta las imagenes deben termibar en(gif,jpen,jpg,png)*/
	background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/09/mujer-haciendo-ejercicio-gimnasio-2458823.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	margin-top: 45px;
  }

/* imagen debajo de encabezado */
.imagen-de-encabezado {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
  }
  
  .imagen-de-fondo img {
	width: 100%;
	height: auto;
	opacity: 0.8;
  }
  
nav {
	background-color: #666;
	color: #fff;
	padding: 10px;
	text-align: center;
	height: 30px;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	margin-bottom: 20px;

}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	font-size: 24px;
}

ul {
	list-style: none;
  }

section {
	padding: 20px;
	margin: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #888;
}

section h2 {
	margin: 0 0 10px 0;
	font-size: 24px;
}

section p {
	margin: 0;
	font-size: 36px;
	line-height: 1.5;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;

}
.cuerpo{
    background-color: rgb(212, 9, 9);
    font-size: 18px;
  }

ul {display: flex;
	flex-direction: row;
	position: absolute;
	top:0;
	right: 0;
	padding: 15px

}

#fondo-servicios {
	background-color: #949494;
	height: 100%;
	width: 100%;
	
  }


  .flex-suscripcion {
	display: flex;
	flex-direction: row-reverse;
	text-align: left;
	margin: 0px;
	text-align: left;
}

.premium {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	height: 50px;
	border: none;
}


  /*le agrego un hover a mi nav bar */

  nav ul li:hover {
	background-color: rgba(238, 130, 238, 0.5);
	border-radius: 10px;
}


@media screen and (min-width: 992px) {
	header h1 {
	  font-size: 3em;
	}
	nav ul {
	  display: flex;
	  justify-content: space-between;
	}
	.flex-contactos {
	  display: flex;
	  justify-content: space-between;
	}
	.flex-contactos img {
	  width: 50px;
	}
  }
  
  /* Estilos para tabletas */
  @media screen and (max-width: 991px) and (min-width: 768px) {
	header h1 {
	  font-size: 2.5em;
	}
	nav ul {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	nav li {
	  margin: 10px 0;
	}
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 767px) {
	header h1 {
	  font-size: 2em;
	}
	nav ul {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	nav li {
	  margin: 10px 0;
	}
	.flex-contactos {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	.flex-contactos img {
	  width: 30px;
	}
  }